<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class ="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & Password!!</h6>
                </div>
                <form>
                    <form #registerform="ngForm" (ngSubmit)="gotoAllproducts()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel required name="email"#email="ngModel">

                         <span *ngIf="email.touched && email.invalid" style="color:red;">Invalid email</span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" ngModel required name="password" #password="ngModel">
                          <span *ngIf="password.touched && password.invalid" style="color:red;">Invalid password</span>
                        </div>
                       
                        <button [disabled]="registerform.invalid"  type="submit" class="btn btn-primary">Login</button>
                      </form>
                      <a style="color:#fff; margin-top: 10px;" routerLink="/signup" >New User? click to signup!!</a>
                </form>
            </div>
        </div>
    </div>
</div>
